.component {
   padding: 5px 10px;
}

.base-example {
   width: 100%;
   padding: 5px 10px;
   box-sizing: border-box;
   margin-bottom: 15px;

   >h2 {
      line-height: 42px;
   }

   .example-container{
      border: 1px solid #e9e9e9;
      line-height: 20px;
      border-radius: 6px;
      font-size: 14px;
      overflow: hidden;

      .example-example{
         padding: 10px;
         box-sizing: border-box;
      }

      .example-code{

         padding: 10px;
         box-sizing: border-box;
      }
   }
}