@import '../variables.less';

.@{prefix}checkbox-container {
   display: inline-block;
   vertical-align: middle;
   position: relative;
   margin-right: 10px;
   user-select: none;

   i {
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -12px;
      font-size: 18px;
      cursor: pointer;
      color: @primaryColor + #191919;

      &.icon-animation-show {
        animation: checkboxShow 0.2s ;
      }

      &.icon-animation-hide {
        animation: checkboxHide 0.2s;
      }

      &.icon-checked {
         // animation: checkboxShow 0.2s;
         transform: scale(1);
      }

      &.icon-default {
         // animation: checkboxHide 0.2s;
         transform: scale(0);
      }
   }

   .checkbox-info {
      padding-left: 20px;
   }

   input {
      display: none;
   }

   &.primary i{
      color: @primaryColor;
   }

   &.warning i{
      color: @warningColor;
   }

   &.success i{
      color: @successColor;
   }

   &.error i{
      color: @errorColor;
   }

   &.disabled {
      i {
         color: @borderColor;
         cursor: default;
      }

      .checkbox-info{
         color: @borderColor;
      }
   }

}

@keyframes checkboxShow {
  0% {
    transform: scale(0);
    z-index: 10000;
  }
  50% {
    transform: scale(0.5);
    z-index: 9999;
  }
  100% {
    transform: scale(1);
    z-index: 9999;

  }
}

@keyframes checkboxHide {
  0% {
    transform: scale(1);
    opacity: 1;
    z-index: 9999;
  }
  50% {
    transform: scale(1);
    z-index: 10000;
  }
  100% {
    transform: scale(1);
    opacity: 0;
    z-index: 10000;
  }
}

@smaller-switchHeight: 18px;
@smaller-switchWidth: 36px;
@switchHeight: 24px;
@switchWidth: 50px;

.@{prefix}switch-container {
   display: inline-block;
   vertical-align: middle;
   width: @switchWidth;
   height: @switchHeight;
   border-radius: 500px;
   position: relative;
   margin: 3px 5px;
   user-select: none;

   .switch-container-BG {
      position: absolute;
      width: 100%;
      height: 100%;
      overflow: hidden;
      border-radius: 500px;
      transform: rotate(0deg);

      &::before {
         content: "";
         display: block;
         width: 100%;
         height: 100%;
         position: relative;
         left: -100%;
         top: 0;
         background-color: @primaryColor;
         border-radius: 500px;
         transition: all 0.15s;
         margin-left: @switchHeight;
      }

      &::after {
         content: "";
         display: block;
         width: 100%;
         height: 100%;
         position: relative;
         left: 0;
         top: -100%;
         background-color: #e0e0e0;
         border-radius: 500px;
         transition: all 0.15s;
      }

   }

   .switch-container-Btn {
      display: block;
      width: @switchHeight;
      height: @switchHeight;
      background: #ffffff;
      box-shadow: 0 0 2px rgba(0, 0, 0, .7);
      border-radius: 50%;
      cursor: pointer;
      position: relative;
      left: 0;
      top: 0;
      transition: all 0.15s;
   }

   &.success {
      .switch-container-BG::before {
         background-color: @successColor;
      }
   }

   &.warning {
      .switch-container-BG::before {
         background-color: @warningColor;
      }
   }

   &.error {
      .switch-container-BG::before {
         background-color: @errorColor;
      }
   }

   //active
   &.active {

      .switch-container-BG {

         &::before {
            left: 0;
            margin-left:0;
         }

         &::after {
            left: 100%;
            margin-left: -@switchHeight;
         }
      }

      .switch-container-Btn {
         left: 100%;
         margin-left: -@switchHeight;
      }

   }

   //smaller
   &.smaller {
      width: @smaller-switchWidth;
      height: @smaller-switchHeight;

      .switch-container-BG::before {
         margin-left: @smaller-switchHeight;
      }

      .switch-container-Btn {
         width: @smaller-switchHeight;
         height: @smaller-switchHeight;
      }

      &.active {

         .switch-container-BG::before {
            margin-left: 0;
         }

         .switch-container-BG::after {
            margin-left: -@smaller-switchHeight;
         }

         .switch-container-Btn {
            margin-left: -@smaller-switchHeight;
         }
      }
  }

   //disabled
   &.disabled {

      .switch-container-BG::before {
         background-color: #e0e0e0;
      }

      .switch-container-Btn {
         background-color: #e0e0e0;
         cursor: no-drop;
      }
   }

   input[type='checkbox'] {
      display: none;
   }

   input[type='checkbox'] {
      display: none;
   }
}